In [1]:
from src.utils import read_ml_1m

In [2]:
ml_1m_data = read_ml_1m()

In [3]:
ml_1m_data['ratings'].head()

   user  item  rating  timestamp
0     1  1193       5  978300760
1     1   661       3  978302109
2     1   914       3  978301968
3     1  3408       4  978300275
4     1  2355       5  978824291

In [4]:
ml_1m_data['item_data'].head()

   item                               title                         genre
0     1                    Toy Story (1995)   Animation|Children's|Comedy
1     2                      Jumanji (1995)  Adventure|Children's|Fantasy
2     3             Grumpier Old Men (1995)                Comedy|Romance
3     4            Waiting to Exhale (1995)                  Comedy|Drama
4     5  Father of the Bride Part II (1995)                        Comedy

In [6]:
import implicit

ModuleNotFoundError: No module named 'implicit'